@import url("/css/reset.css");

body {
    background-color: black;
    color: black;
}

.background-img {
    background-image: url("../img/kobu-agency-ipARHaxETRk-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.quote-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    width: 90vw;
    height: 90vh;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.quote-text {
    font-size: 3em;
}

.author-text {
    font-size: 2em;
    font-style: italic;
}